body {
  font-family: 'Fira Mono', monospace;
  margin: 0;
  background: whitesmoke;
}

main {
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #ececec;
  text-align: left;
  padding: 0.25rem;
}

td {
  padding: 0.25rem;
}

td:last-child,
th:last-child {
  text-align: right;
}

form {
  width: 100%;

}

label,
input,
select {
  display: inline-block;
  line-height: 24px;
}


input {
  padding: 0 0.25rem;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.25rem;
}

select {
  -webkit-appearance: none;
  padding: 0 0.25rem;
}

button {
  -webkit-appearance: none;
  border: none;
  background: #ececec;
  padding: 0.5rem;
  margin: 0.5rem;
  float: right;
}

section {
  background: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}