html {
  font-size: 18px;
}

html * {
  box-sizing: border-box;
  /* outline: 1px solid tomato; */
}

body {
  margin: 0;
  background: whitesmoke;
  color: slategray;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

main {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

section {
  background: white;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}

form {
  width: 100%;
  position: relative;
}

@media (min-width: 800px) {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  input {
    flex-grow: 1;
    margin-right: 1rem !important;
  }

  select {
    flex-basis: 170px;
  }

  button {
    flex-basis: 170px;
    float: right;
    margin: 0.5rem 0 0.5rem 1rem;
  }
}
@media (min-width: 680px) and (max-width: 799px) {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  input {
    flex-basis: calc(100% - 1rem);
    margin: 0 0.5rem;
  }

  select {
    flex-basis: calc(100% - 1rem);
    margin: 0 0.5rem;
  }

  button {
    flex-basis: calc(50% - 1rem);
    margin: 1rem 0.5rem;
  }
}
@media (max-width: 679px) {
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  input {
    flex-grow: 1;
  }

  select {
    flex-basis: 100%;
  }

  button {
    flex-basis: 100%;
    margin-top: 1rem;
  }
}
label {
  display: block;
  padding: 0.5rem;
}

input,
select {
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

select {
  -webkit-appearance: none;
}

button {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.125rem 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  line-height: 24px;
}

button .material-icons {
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background: whitesmoke;
}

th {
  background: slategray;
  color: whitesmoke;
}

th:first-child,
td:first-child {
  text-align: left;
}

th:last-child,
td:last-child {
  text-align: right;
}

th,
td {
  padding: 0.5rem;
}

[data-state="loading"]:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background: slategray;
  animation: loading infinite 1000ms;
}

@keyframes loading {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 66.66%;
    left: 0;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 300px;
  border-radius: 0.25rem;
}

.muted-text {
  font-size: 0.75rem;
  opacity: 0.75;
}